$layoutBackground: radial-gradient(ellipse at top, teal, transparent),
radial-gradient(ellipse at center, green, transparent);


$shadowLight: 0 1px 2px rgba(0, 0, 0, 0.19);
$shadowHeavy: 0 1px 2px rgba(0, 0, 0, 0.75);


$textColor: black;
